{% extends "base_generic.html" %}]

{% block content %}
<style>
    .category-block {
        margin-bottom: 4px;
    }
</style>
<h2>New Order</h2>
<hr />
<form method="post" id="new_order_form">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-1 visible-lg-1"></div>
            <div class="col-md-2">
                <div class="form-floating mb-3">
                    {{ order_form.order_date }}
                    {{ order_form.order_date.label_tag }}
                    <span style="color:red;">{{ order_form.order_date.errors }}</span>
                </div>
                <div class="form-floating mb-3">
                    {{ order_form.order_type }}
                    {{ order_form.order_type.label_tag }}
                    {{ order_form.order_type.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ order_form.payment_option }}
                    {{ order_form.payment_option.label_tag }}
                    <span style="color:red;">{{ order_form.payment_option.errors }}</span>
                </div>
            </div>
            <div class="col-md-4 oc-col">
                <div class="border border-primary rounded-2 category-block">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%;">Premium Grilled Patties</th>
                                <th scope="col" style="width:30%;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for ocf in premium_patties_fs.forms %}
                            <tr id="{{ ocf.prefix }}" class="oc-formset">
                                <td>{{ ocf.product }}</td>
                                <td>{{ ocf.qty }}</td>
                            </tr>
                            {% endfor %}
                            {{ premium_patties_fs.management_form }}
                        </tbody>
                    </table>
                </div>
                <div class="border border-secondary rounded-2 category-block">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%;">Smash Burgers</th>
                                <th scope="col" style="width:30%;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for ocf in smash_burgers_fs.forms %}
                            <tr id="{{ ocf.prefix }}" class="oc-formset">
                                <td>{{ ocf.product }}</td>
                                <td>{{ ocf.qty }}</td>
                            </tr>
                            {% endfor %}
                            {{ smash_burgers_fs.management_form }}
                        </tbody>
                    </table>
                </div>
                <div class="border border-success rounded-2 category-block">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%;">Chicken Burgers</th>
                                <th scope="col" style="width:30%;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for ocf in chicken_burgers_fs.forms %}
                            <tr id="{{ ocf.prefix }}" class="oc-formset">
                                <td>{{ ocf.product }}</td>
                                <td>{{ ocf.qty }}</td>
                            </tr>
                            {% endfor %}
                            {{ chicken_burgers_fs.management_form }}
                        </tbody>
                    </table>
                </div>
                <div class="border border-danger rounded-2 category-block">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%;">Add-ons</th>
                                <th scope="col" style="width:30%;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for ocf in add_ons_fs.forms %}
                            <tr id="{{ ocf.prefix }}" class="oc-formset">
                                <td>{{ ocf.product }}</td>
                                <td>{{ ocf.qty }}</td>
                            </tr>
                            {% endfor %}
                            {{ add_ons_fs.management_form }}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 oc-col">
                <div class="border border-warning rounded-2 category-block">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%;">Sides</th>
                                <th scope="col" style="width:30%;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for ocf in sides_fs.forms %}
                            <tr id="{{ ocf.prefix }}" class="oc-formset">
                                <td>{{ ocf.product }}</td>
                                <td>{{ ocf.qty }}</td>
                            </tr>
                            {% endfor %}
                            {{ sides_fs.management_form }}
                        </tbody>
                    </table>
                </div>
                <div class="border border-info rounded-2 category-block">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%;">Rice Meals</th>
                                <th scope="col" style="width:30%;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for ocf in rice_meals_fs.forms %}
                            <tr id="{{ ocf.prefix }}" class="oc-formset">
                                <td>{{ ocf.product }}</td>
                                <td>{{ ocf.qty }}</td>
                            </tr>
                            {% endfor %}
                            {{ rice_meals_fs.management_form }}
                        </tbody>
                    </table>
                </div>
                <div class="border border-danger rounded-2 category-block">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%;">Pancakes</th>
                                <th scope="col" style="width:30%;">Quatity</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for ocf in pancakes_fs.forms %}
                            <tr id="{{ ocf.prefix }}" class="oc-formset">
                                <td>{{ ocf.product }}</td>
                                <td>{{ ocf.qty }}</td>
                            </tr>
                            {% endfor %}
                            {{ pancakes_fs.management_form }}
                        </tbody>
                    </table>
                </div>
                <div class="border border-dark rounded-2 category-block">
                <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%;">Drinks</th>
                                <th scope="col" style="width:30%;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for ocf in drinks_fs.forms %}
                            <tr id="{{ ocf.prefix }}" class="oc-formset">
                                <td>{{ ocf.product }}</td>
                                <td>{{ ocf.qty }}</td>
                            </tr>
                            {% endfor %}
                            {{ drinks_fs.management_form }}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1 visible-lg-1"></div>
        </div>
        <div class="row">
            <hr />
            <div class="col-md-1 visible-lg-1"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2" style="text-align: left;">
                <button type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                    </svg>
                    Create order
                </button>
            </div>
            <div class="col-md-6" style="color: red;" id="error_msg">
                <!-- error messages returned by POST -->
                {% if premium_patties_fs.non_form_errors or smash_burgers_fs.non_form_errors or chicken_burgers_fs.non_form_errors or add_ons_fs.non_form_errors or sides_fs.non_form_errors or rice_meals_fs.non_form_errors or pancakes_fs.non_form_errors or drinks_fs.non_form_errors %}
                    <strong>Please fix the following errors:</strong><br />
                {% endif %}
                {% if premium_patties_fs.non_form_errors %}
                    {% for error in premium_patties_fs.non_form_errors %}
                        {{ error|escape }}<br />
                    {% endfor %}
                {% endif %}
                {% if smash_burgers_fs.non_form_errors %}
                    {% for error in smash_burgers_fs.non_form_errors %}
                        {{ error|escape }}<br />
                    {% endfor %}
                {% endif %}
                {% if chicken_burgers_fs.non_form_errors %}
                    {% for error in chicken_burgers_fs.non_form_errors %}
                       {{ error|escape }}<br />
                    {% endfor %}
                {% endif %}
                {% if add_ons_fs.non_form_errors %}
                    {% for error in add_ons_fs.non_form_errors %}
                        {{ error|escape }}<br />
                    {% endfor %}
                {% endif %}
                {% if sides_fs.non_form_errors %}
                    {% for error in sides_fs.non_form_errors %}
                       {{ error|escape }}<br />
                    {% endfor %}
                {% endif %}
                {% if rice_meals_fs.non_form_errors %}
                    {% for error in rice_meals_fs.non_form_errors %}
                        {{ error|escape }}<br />
                    {% endfor %}
                {% endif %}
                {% if pancakes_fs.non_form_errors %}
                    {% for error in pancakes_fs.non_form_errors %}
                        {{ error|escape }}<br />
                    {% endfor %}
                {% endif %}
                {% if drinks_fs.non_form_errors %}
                    {% for error in drinks_fs.non_form_errors %}
                        {{ error|escape }}<br />
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-1 visible-lg-1"></div>
        </div>
    </div>
</form>
<!-- confirmation modal -->
<div class="modal fade" id="orderConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="orderConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="orderConfirmModalLabel">Order Confirmation</h1>
            </div>
            <div class="modal-body">
                <table class="table table-sm" id="order_info_summary">
                    <tbody>
                        <tr>
                            <td>Order Date:</td>
                            <td id="order_info_summary_date"></td>
                        </tr>
                        <tr>
                            <td>Type:</td>
                            <td id="order_info_summary_type"></td>
                        </tr>
                        <tr>
                            <td>Payment Option:</td>
                            <td id="order_info_summary_payment"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover table-sm" id="order_content_summary">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <span id="confirmMsg" class="d-none"></span>
                <button type="button" class="btn btn-secondary" id="closeConfirmBtn">Close</button>
                <button type="button" class="btn btn-primary" id="proceedOrderBtn">Create</button>
                <button type="button" class="btn btn-secondary d-none" id="printOrderBtn">Print</button>
            </div>
        </div>
    </div>
</div>
  
{% load static %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $(document).ready(function () {
        // get current product prices
        products_data = null;
        $.ajax({
            url: "{% url 'product-prices' %}",
            type: "GET",
            dataType: "json",
            success: (data) => {
                products_data = data;
            },
            error: (error) => {
                console.log(error);
            }
        });
        $("#id_order_date").datepicker({
            dateFormat: "yy-mm-dd",
            showAnim: "fadeIn",
            maxDate: 0,
        })
        $("#pp-0").formset({
            addText: "add",
            deleteText: "remove",
            formCssClass: "pp-cls",
            deleteCssClass: "pp-del",
            prefix: "{{ premium_patties_fs.prefix }}",
        });
        $("#cb-0").formset({
            addText: "add",
            deleteText: "remove",
            formCssClass: "cb-cls",
            deleteCssClass: "cb-del",
            prefix: "{{ chicken_burgers_fs.prefix }}",
        });
        $("#sb-0").formset({
            addText: "add",
            deleteText: "remove",
            formCssClass: "sb-cls",
            deleteCssClass: "sb-del",
            prefix: "{{ smash_burgers_fs.prefix }}",
        });
        $("#dr-0").formset({
            addText: "add",
            deleteText: "remove",
            formCssClass: "dr-cls",
            deleteCssClass: "dr-del",
            prefix: "{{ drinks_fs.prefix }}",
        });
        $("#pa-0").formset({
            addText: "add",
            deleteText: "remove",
            formCssClass: "pa-cls",
            deleteCssClass: "pa-del",
            prefix: "{{ pancakes_fs.prefix }}",
        });
        $("#rm-0").formset({
            addText: "add",
            deleteText: "remove",
            formCssClass: "rm-cls",
            deleteCssClass: "rm-del",
            prefix: "{{ rice_meals_fs.prefix }}",
        });
        $("#si-0").formset({
            addText: "add",
            deleteText: "remove",
            formCssClass: "si-cls",
            deleteCssClass: "si-del",
            prefix: "{{ sides_fs.prefix }}",
        });
        $("#ao-0").formset({
            addText: "add",
            deleteText: "remove",
            formCssClass: "ao-cls",
            deleteCssClass: "ao-del",
            prefix: "{{ add_ons_fs.prefix }}",
        });
        $("#new_order_form").submit(function (event, options) {
            event.preventDefault();
            options = options || {};
            if (!options.input_check_complete) {
                // check if all inputs are blank
                isEmpty = true;
                qtyErrors = []
                $(".oc-formset").each(function () {
                    if ($(this).find("select").val() != "") {
                        isEmpty = false;
                        categ = $(this).find("input").attr("categ");
                        qty = parseInt($(this).find("input").val());
                        if (isNaN(qty) || (!isNaN(qty) && qty < 1)) {
                            qtyErrors.push("One or more items under <u>" + categ + "</u> have an invalid quantity.");
                        }
                    } else {
                        $(this).find("input").val("");
                    }
                });
                if (isEmpty) {
                    $("#error_msg").empty().html("<strong>Please fix the following errors:</strong><br />There is no product selected.");
                    return;
                }
                if (qtyErrors.length != 0) {
                    $("#error_msg").empty().html("<strong>Please fix the following errors:</strong><br />");
                    for (i = 0; i < qtyErrors.length; i++) {
                        $("#error_msg").append(qtyErrors[i] + "<br />");
                    }
                    return;
                }
                // pop out modal here
                $("#order_info_summary_date").text($("#id_order_date").val());
                $("#order_info_summary_type").text($("#id_order_type option:selected").text());
                $("#order_info_summary_payment").text($("#id_payment_option option:selected").text());
                // aggregate orders to display
                grand_total = 0;
                pp_summary = {};  // premium patties
                $(".pp-cls").each(function () {
                    product = $(this).find("select").val();
                    qty = parseInt($(this).find("input").val());
                    if (product != "") {
                        pp_summary[product] = (pp_summary[product] || 0) + qty;
                    }
                });
                sb_summary = {};  // smash burgers
                $(".sb-cls").each(function () {
                    product = $(this).find("select").val();
                    qty = parseInt($(this).find("input").val());
                    if (product != "") {
                        sb_summary[product] = (sb_summary[product] || 0) + qty;
                    }
                });
                cb_summary = {};  // chicken burgers
                $(".cb-cls").each(function () {
                    product = $(this).find("select").val();
                    qty = parseInt($(this).find("input").val());
                    if (product != "") {
                        cb_summary[product] = (cb_summary[product] || 0) + qty;
                    }
                });
                ao_summary = {};  // add-ons
                $(".ao-cls").each(function () {
                    product = $(this).find("select").val();
                    qty = parseInt($(this).find("input").val());
                    if (product != "") {
                        ao_summary[product] = (ao_summary[product] || 0) + qty;
                    }
                });
                si_summary = {};  //  sides
                $(".si-cls").each(function () {
                    product = $(this).find("select").val();
                    qty = parseInt($(this).find("input").val());
                    if (product != "") {
                        si_summary[product] = (si_summary[product] || 0) + qty;
                    }
                });
                rm_summary = {};  //  rice meals
                $(".rm-cls").each(function () {
                    product = $(this).find("select").val();
                    qty = parseInt($(this).find("input").val());
                    if (product != "") {
                        rm_summary[product] = (rm_summary[product] || 0) + qty;
                    }
                });
                pa_summary = {};  //  pancakes
                $(".pa-cls").each(function () {
                    product = $(this).find("select").val();
                    qty = parseInt($(this).find("input").val());
                    if (product != "") {
                        pa_summary[product] = (pa_summary[product] || 0) + qty;
                    }
                });
                dr_summary = {};  //  drinks
                $(".dr-cls").each(function () {
                    product = $(this).find("select").val();
                    qty = parseInt($(this).find("input").val());
                    if (product != "") {
                        dr_summary[product] = (dr_summary[product] || 0) + qty;
                    }
                });
                collected = [pp_summary, sb_summary, cb_summary, ao_summary, si_summary, rm_summary, pa_summary, dr_summary];
                $("#order_content_summary tbody").empty();
                for (i = 0; i < collected.length; i++) {
                    for (item in collected[i]) {
                        r_name = products_data.names[item];
                        r_price = products_data.prices[item];
                        r_qty = collected[i][item];
                        r_total = r_price * r_qty;
                        grand_total += r_total;
                        $("#order_content_summary tbody").append("" + 
                            "<tr>" +
                                "<td>" + r_name + "</td>" +
                                "<td>" + r_price + "</td>" +
                                "<td>" + r_qty + "</td>" +
                                "<td>" + r_total + "</td>" +
                            "</tr>");
                    }                    
                }
                $("#order_content_summary tbody").append("" +
                    "<tr>" +
                        "<td colspan='3' style='text-align:right;'>Total</td>" +
                        "<td>" + grand_total + "</td>" +
                    "</tr>");
                $("#orderConfirmModal").modal("show");
                $("#closeConfirmBtn").click(function () {
                    $("#orderConfirmModal").modal("hide");
                    $("#proceedOrderBtn").unbind("click");
                });
                $("#proceedOrderBtn").click(function (event) {
                    $("#new_order_form").trigger("submit", {"input_check_complete": true});
                });
            } else {
                $("#proceedOrderBtn").addClass("disabled").unbind("click");
                $("#confirmMsg").removeClass("d-none").text("Saving order...");
                $.ajax({
                    type: "POST",
                    url: "{% url 'new-order' %}",
                    data: $(this).serialize(),
                    success: (data) => {
                        if (data.saved) {
                            $("#proceedOrderBtn").addClass("d-none");
                            $("#confirmMsg").removeClass("d-none").text("Order saved.");
                            $("#printOrderBtn").removeClass("d-none").bind("click", function (event) {
                                window.open("{% url 'print-order' %}".concat(data.ref)).focus();
                            });
                            // reset page when Close is clicked
                            $("#closeConfirmBtn").click(function (event) {
                                window.location.reload(true);
                            });
                        } else {
                            $("#confirmMsg").removeClass("d-none").text("An error has occurred. Please try again.");
                            $("#proceedOrderBtn").removeClass("disabled").click(function (event) {
                                $("#new_order_form").trigger("submit", {"input_check_complete": true});
                            });
                        }
                    },
                    error: (error) => {
                        console.log(error);
                        $("#confirmMsg").removeClass("d-none").text("An error has occurred. Please try again.");
                        $("#proceedOrderBtn").removeClass("disabled").click(function (event) {
                            $("#new_order_form").trigger("submit", {"input_check_complete": true});
                        });
                    }
                });
            }          
        });
    });
</script>
{% endblock %}