{% extends "base_generic.html" %}

{% block content %}
<style>
    button.ui-datepicker-current {
        display: none;
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 40%;
        left: 0px;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
</style>
<div class="overlay">
    <div class="d-flex justify-content-center">  
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem; z-index: 20;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<h2>Orders | <span id="total_amt" style="font-size: large;">Total: {{ total }}</span></h2>
<div class="card" style="margin-bottom: 15px;">
    <div class="card-body">
        <form class="row g-3" id="filter_records_form">
            {% csrf_token %}
            <div class="col-md-3">
                <label for="id_start_date" class="form-label">Start Date</label>
                {{ form.start_date }}
            </div>
            <div class="col-md-3">
                <label for="id_end_date" class="form-label">End Date</label>
                {{ form.end_date }}
            </div>
            <div class="col-md-3">
                <label for="id_items" class="form-label">Rows</label>
                {{ form.items }}
            </div>
            <div class="col-md-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <button type="submit" class="btn btn-primary" id="updateBtn" style="margin: 2px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                </svg>
                                Update
                            </button>
                            {% if "auth.can_view_reports" in permissions %}
                            <button type="button" class="btn btn-secondary" id="aggregateBtn" style="margin: 2px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-ruled-fill" viewBox="0 0 16 16">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2zm2 7H6v2h8V7zm0 3H6v2h8v-2zm0 3H6v3h6a2 2 0 0 0 2-2v-1zm-9 3v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2z"/>
                                </svg>
                                Aggregate
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="page_num" value="{{ page_num }}" />
            <input type="hidden" id="num_items_for_post" value="{{ num_items }}" />
        </form>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-hover d-none">
        <tbody class="table-group-divider" id="orders-table"></tbody>
    </table>
</div>
<div class="row" id="pagination">
    <div class="col">
        <nav aria-label="pagination" class="d-none">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" id="prev_page" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                        </svg>
                        Previous
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" id="next_page" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
                        </svg>
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col text-start d-none">
        <span id="page_indicator">Page {{ page_num }} of {{ total_pages }} ({{ total_items }})</span>
    </div>
</div>
<p class="d-none" id="no_orders_msg">There are no orders on the period indicated.</p>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    const token = $("[name=csrfmiddlewaretoken]").val();
    function disableInputs() {
        $("#id_start_date, #id_end_date, #id_items").prop("disabled", true);
        $("#updateBtn, #aggregateBtn").addClass("disabled");
    }
    function enableInputs() {
        $("#id_start_date, #id_end_date, #id_items").prop("disabled", false);
        $("#updateBtn, #aggregateBtn").removeClass("disabled");
    }
    function showSpinner() {
        $(".overlay").removeClass("d-none");
    }
    function hideSpinner() {
        $(".overlay").addClass("d-none");
    }
    function getFormInput(addToPage) {
        var page_num = parseInt($("#page_num").val()) + addToPage;
        if (addToPage == 0) {
            page_num = 1;
        }
        return {
            "start_date": $("#id_start_date").val(),
            "end_date": $("#id_end_date").val(),
            "items": $("#num_items_for_post").val(),
            "page_num": page_num,
        }
    }
    function populateData(data) {
        console.log(data);
        $("#orders-table").empty();  // clear table contents
        var boldPipe = '<span class="fw-bold" style="margin-left: 4px; margin-right: 4px;">|</span>';
        var multiplySymbol = " ✕ ";
        var bulletSymbol = "• ";
        var htmlStr = "";
        for (let j = 0; j < data["orders"].length; j++) {
            var order = data["orders"][j];
            var pk = order["pk"];
            var type = order["type"];
            var status = order["status"];
            var user = order["user"];
            var paymentMethod = order["payment_method"];
            var orderTs = order["order_timestamp"];
            var total = order["total"];
            // had trouble with this one. rows were somehow getting added in the inner table that shows the order
            // contents. turns out .find() was getting all child elements that match the selector
            htmlStr = '' +
                '<tr>' +
                    '<td>' +
                        '<div class="container-fluid">' +
                            '<div class="row">' +
                                '<div class="col-sm">' +
                                    '<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapse' + pk + '" aria-expanded="false" aria-controls="collapse' + pk + '" style="margin: 2px;">' +
                                        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-fill" viewBox="0 0 16 16">' +
                                            '<path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z"></path>' +
                                        '</svg>' + 
                                        ' #&nbsp;' + pk +
                                    '</button>';
            if (data["permissions"].includes("auth.can_view_reports") || data["permissions"].includes("auth.can_add_orders")) {
                htmlStr += '' +
                                    '<button type="button" class="btn btn-primary btn-sm ml-1 printBtn" style="margin: 2px;" order-pk="' + pk + '">' + 
                                        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">' + 
                                            '<path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"></path>' + 
                                            '<path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>' +
                                        '</svg>' +
                                        ' Print' +
                                    '</button>';
            }
            htmlStr += '' +
                                '</div>' +
                                '<div class="col-sm">' +
                                    orderTs + boldPipe + type + 
                                '</div>' +
                                '<div class="col-sm">' +
                                    paymentMethod + boldPipe + status + boldPipe + user + boldPipe + 'Total: ' + total +
                                '</div>' +
                            '</div>' +
                            '<div class="row">' +
                                '<div class="col-sm offset-sm-4">' +
                                    '<div class="collapse" id="collapse' + pk + '">' +
                                        '<div class="card card-body">';
            var contents = order["contents"];
            for (let k = 0; k < contents.length; k++) {
                var content = contents[k];
                var theQty = parseInt(content["qty"]);
                var itemTotal = parseInt(content["price"]) * theQty;
                var itemTotalPlusAddOns = itemTotal;
                var addOns = content["add-ons"];
                if (addOns != undefined) {
                    for (let m = 0; m < addOns.length; m++) {
                        itemTotalPlusAddOns += (parseInt(addOns[m]["price"]) * parseInt(addOns[m]["qty"]) * theQty);
                    }
                }
                htmlStr += '' +
                                        '<span>' + (k + 1) + boldPipe + content["name"] + boldPipe + content["price"] + multiplySymbol + theQty + ' = ' + itemTotal + boldPipe + 'Subtotal: ' + itemTotalPlusAddOns + '</span>';
                if (addOns != undefined) {
                    for (let m = 0; m < addOns.length; m++) {
                        var addOn = addOns[m];
                        var addOnQty = addOn["qty"];
                        var addOnPrice = addOn["price"];
                        var addOnTotal = addOnPrice * addOnQty;
                        itemTotal += (addOnTotal * theQty);
                        var qtyMultiplier = "";
                        if (theQty != 1) {
                            qtyMultiplier = ' (' + multiplySymbol + theQty + ')'
                            addOnTotal *= theQty;
                        }
                        htmlStr += '' +
                                        '<span style="padding-left: 15px;">' + bulletSymbol + addOn["name"] + boldPipe + addOnPrice + multiplySymbol + addOnQty + qtyMultiplier + ' = ' + addOnTotal + '</span>';
                    }                   
                }
            }
            htmlStr += '' +
                                        '</div>' +
                                    '</div>' +    
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</td>' +
                '</tr>';
            $("#orders-table").append(htmlStr);
            htmlStr = '';
        }
    }
    function pullOrders(formInput, token) {
        $.ajax({
            url: "{% url 'orders' %}",
            type: "POST",
            data: formInput,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": token,
            },
            success: (data) => {
                if (data["total_items"] != 0) {
                    $("#orders-table").parent().removeClass("d-none");  // display if not shown
                    // populate table
                    populateData(data);
                    // update page indicator
                    $("#page_indicator").parent().removeClass("d-none");
                    $("#page_indicator").text("Page " + data["page_num"] + " of " + data["total_pages"] + " (" + data["total_items"] + ")");
                    // update page selector
                    $('[aria-label="pagination"]').removeClass("d-none");
                    if (data["page_num"] == 1) {
                        $("#prev_page").parent().addClass("disabled");
                    } else {
                        $("#prev_page").parent().removeClass("disabled");
                    }
                    if (data["page_num"] == data["total_pages"]) {
                        $("#next_page").parent().addClass("disabled");
                    } else {
                        $("#next_page").parent().removeClass("disabled");
                    }
                    // hide no orders msg
                    $("#no_orders_msg").addClass("d-none");
                    // update total amount
                    $("#total_amt").text("Total: ".concat(data["total"]));
                    // attach click event to print buttons
                    attachOpenNewTabToRows()
                } else {
                    // hide table
                    $("#orders-table").parent().addClass("d-none");
                    // hide page selector and page indicator
                    $('[aria-label="pagination"]').addClass("d-none");
                    $("#page_indicator").parent().addClass("d-none");
                    // show no orders msg
                    $("#no_orders_msg").removeClass("d-none");
                    // update total amount
                    $("#total_amt").text("Total: 0");
                }
                hideSpinner();
                enableInputs();
            },
            error: (error) => {
                console.log(error);
                hideSpinner();
                enableInputs();
            }
        });
    }
    function attachOpenNewTabToRows() {
        $("button.printBtn").bind("click", function (event) {
            pk = $(this).attr("order-pk");
            window.open("{% url 'print-order' %}".concat(pk)).focus();
        });
    }

    $(document).ready(function () {
        hideSpinner();
        // datepickers
        $("#id_start_date").datepicker({
            dateFormat: "yy-mm-dd",
            showAnim: "fadeIn",
            beforeShow: function () {
                endDate = $("#id_end_date").val();
                if (endDate != "") {
                    $(this).datepicker("option", "maxDate", endDate);
                } else {
                    $(this).datepicker("option", "maxDate", null);
                }
            }
        });
        $("#id_end_date").datepicker({
            dateFormat: "yy-mm-dd",
            showAnim: "fadeIn",
            beforeShow: function (input) {
                startDate = $("#id_start_date").val();
                if (startDate != "") {
                    $(this).datepicker("option", "minDate", startDate);
                }
            },
            showButtonPanel: true,
            closeText: "Clear",
            onClose: function () {
                if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
                    document.getElementById(this.id).value = '';
                }
            },
        });
        // events that will update table
        $("#filter_records_form").submit(function (event) {
            event.preventDefault();
            disableInputs();
            showSpinner();
            $("#num_items_for_post").val($("#id_items").val())
            pullOrders(getFormInput(0), token);
            $("#page_num").val(1);
        });
        $("#prev_page").click(function (event) {
            event.preventDefault();
            disableInputs();
            showSpinner();
            pullOrders(getFormInput(-1), token);
            $("#page_num").val(parseInt($("#page_num").val()) - 1);
        });
        $("#next_page").click(function (event) {
            disableInputs();
            showSpinner();
            event.preventDefault();
            pullOrders(getFormInput(1), token);
            $("#page_num").val(parseInt($("#page_num").val()) + 1);
        });
        $("#aggregateBtn").click(function (event) {
            formInput = getFormInput(0);
            fromDate = formInput.start_date;
            toDate = formInput.end_date;
            url = "{% url 'aggregate-orders' %}".concat(fromDate);
            if (toDate != "") {
                url = url.concat("/", toDate);
            }
            window.open(url).focus();
        });

        // for initial page load 
        showSpinner();
        pullOrders(getFormInput(0), token);

        // attach click event to print buttons
        attachOpenNewTabToRows();
    });
</script>
{% endblock %}